div {
    font: 9pt Calibri;
    display: inline;
    width: 80px
}

.zone {
    position: fixed;
    font-size: 14pt;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
.location {
    position: fixed;
    display: inline-block;
    vertical-align: middle;
}
.location-number {
    text-align: right;
    display: block;
}
