<mat-toolbar color="primary">
  <my-menu-buttons #menuButtons (menuClick)="toggleMenu(menuButtons.menuName)"></my-menu-buttons>
  <button *ngIf="user.loggedIn" mat-button class="toolbar-button" [matMenuTriggerFor]="mapMenu">
      <mat-icon>language</mat-icon>
  </button>
  <!-- This fills the remaining space of the current row -->
  <div class="example-fill-remaining-space">
    <span>&nbsp;{{title}}&nbsp;</span>
    <mat-menu #mapMenu="matMenu" color="primary">
        <div *ngFor="let map of maps">
      <button mat-button (click)="changeMap(map)">
          <mat-icon>language</mat-icon>{{map.name}}
      </button>
    </div>  
    </mat-menu>
  </div>
  <div>
    <my-location class="ipp" *ngIf="ipp" [location]="ipp"></my-location>
    <mat-slide-toggle [(ngModel)]="lock" labelPosition="before">Lock IPP</mat-slide-toggle>
  </div>
  <div>
    <my-user #user></my-user>
  </div>
</mat-toolbar>

<mat-sidenav #menu mode="over" opened="false">
  <my-print-menu [location]="ipp || mapLocation" #printMenu [hidden]="menuName != 'print'"></my-print-menu>
  <div class="positions-menu" [hidden]="menuName != 'location'">
    <mat-card>
      <mat-card-title>Map Center</mat-card-title>
      <mat-card-content>
        <my-location [(location)]="mapLocation" editable="true"></my-location>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="ipp">
      <mat-card-title>IPP</mat-card-title>
      <mat-card-content>
        <my-location [(location)]="ipp" editable="true"></my-location>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="clickedLocation">
      <mat-card-title>Last clicked</mat-card-title>
      <mat-card-content>
        <my-location [location]="clickedLocation"></my-location>
      </mat-card-content>
    </mat-card>
  </div>

  <my-measure-menu [hidden]="menuName != 'measure'" [map]="myMap.map"></my-measure-menu>
  <my-tracks-menu [hidden]="menuName != 'tracks'"></my-tracks-menu>
  <my-poi-menu [hidden]="menuName != 'pois'" [pois]="pois"></my-poi-menu>
  <my-areas-menu [hidden]="menuName != 'areas'"></my-areas-menu>
</mat-sidenav>

<my-map #myMap [lockIpp]="lock" [radiusR25]="printMenu.r25" [radiusR50]="printMenu.r50" [(ipp)]="ipp" [scale]="printMenu.scale"
  [paperSize]="printMenu.paperSize" [mapSource]="printMenu.mapSource" [(mapLocation)]="mapLocation" (mapClicked)="setMapClickedLocation($event)"
  [pois]="pois"></my-map>