.example-fill-remaining-space {
    flex: 1 1 auto;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  mat-sidenav {
    display: flex;
    overflow: hidden;
    position: absolute;
    max-width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 100;
  }