.example-fill-remaining-space {
    flex: 1 1 auto;
    text-align: center;
    vertical-align: middle;
}
.example-fill-remaining-space span.label {
  font-size: smaller;
  line-height: 20;
  padding-bottom: 5px;
  position: relative;
  bottom: 6px;
}

my-location.ipp {
  float: left;
  margin-right: 10px;
}

.example-fill-remaining-space my-location {
  padding: 5px;
  padding-top: 10px;
}

  mat-sidenav {
    display: flex;
    overflow: hidden;
    position: absolute;
    max-width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 100;
    padding: 10px;
    margin: 3px;
    width: 200px;
    min-height: 500px;
  }

  mat-card {margin-bottom: 10px}

  .toolbar-button {
    min-width: 35px;
    padding: 0px;
  }
