/*

div.main {
    font: 9pt Calibri;
    display: inline-block;
    left: -40px;
}

.zone {
    position: relative;
    font-size: 12pt;
    font-weight: bold;
    vertical-align: middle;
    float: left;
}
.location {
    position: relative;
    display: inline;
    vertical-align: middle;
}
.location-number {
    text-align: right;
    display: block;
    width: 50px;
    float: right;
    clear: right;
}

*/
div.main {
    font: 9pt Calibri;
}


.zone {
    font-size: 12pt;
    font-weight: bold;
    vertical-align: middle;
}

.location-number {
    text-align: right;
    margin-left: 3px;
}

input.location-number {
    margin: 1px; 
    font-size: x-small;
    width: 50px;
}


mat-icon.small {
    font-size: smaller;
  }

.edit-button  {
    position: relative;
    display: inline;
    vertical-align: middle;
    padding-left: 5px;
}

.edit-button button {
    padding: 0px;
    width: 25px;
    height: 25px;
}

.mat-icon-button.mat-small {
    min-height: 1%;
}

.mat-icon {
    position: relative;
    top: -5px;
}