div.main {
    font: 9pt Calibri;
    display: inline-block;
    left: -40px;
}

.zone {
    position: relative;
    font-size: 12pt;
    font-weight: bold;
    vertical-align: middle;
    float: left;
}
.location {
    position: relative;
    display: inline;
    vertical-align: middle;
}
.location-number {
    text-align: right;
    display: block;
    width: 50px;
    float: right;
    clear: right;
}

input.location-number {
    margin: 1px; 
    font-size: x-small;
    width: 50px;
    float: right;
}

md-icon.size-16 {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: x-small;
  }

.edit-button  {
    position: relative;
    display: inline;
    vertical-align: middle;
}

.edit-button button {
    min-width: 20px;
    min-height: 20px;
    padding: 0px;
}
