<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/app-layout/app-scroll-effects/effects/waterfall.html" />
<link rel="import" href="../../lib/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../lib/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../lib/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../lib/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../lib/app-layout/app-header/app-header.html">
<link rel="import" href="../../lib/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../../lib/paper-button/paper-button.html">
<link rel="import" href="../../lib/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../lib/iron-icon/iron-icon.html" />
<link rel="import" href="../../lib/iron-icons/iron-icons.html" />
<link rel="import" href="../../lib/iron-icons/editor-icons.html" />
<link rel="import" href="../../lib/iron-icons/maps-icons.html" />

<link rel="import" href="../../lib/paper-styles/paper-styles.html" />
<link rel="import" href="../../lib/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../lib/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../lib/paper-progress/paper-progress.html" />
<link rel="import" href="../../lib/paper-tabs/paper-tabs.html" />
<link rel="import" href="../../lib/iron-pages/iron-pages.html" />

<link rel="import" href="sarge-map-setup.html">
<link rel="import" href="sarge-map.html">


<dom-module id="sarge-app">
    <style is="custom-style">
      body {
        /* No margin on body so toolbar can span the screen */
        margin: 0;
      }
      app-toolbar {
        /* Toolbar is the main header, so give it some color */
        background-color: #1E88E5;
        font-family: 'Roboto', Helvetica, sans-serif;
        color: white;
        --app-toolbar-font-size: 24px;
      }
      app-toolbar div.toggle-label {color: white}
      .paper-menu-button {color: #1E88E5;}
        .dropdown-content {
            color: #1E88E5;
        }
      paper-button {width: 90%}
      .mainpanel {padding-left: 10px; padding-right: 10px}
    </style>
    <template>
        <app-drawer-layout>

            <app-drawer>
                <app-toolbar>
                    <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
                     <paper-tabs selected="{{selectedTab}}">
                        <paper-tab><paper-icon-button icon="print" show-menu="print"></paper-icon-button></paper-tab>
                        <paper-tab><paper-icon-button icon="gesture" drawer-toggle></paper-icon-button></paper-tab>
                        <paper-tab><paper-icon-button icon="flag" drawer-toggle></paper-icon-button></paper-tab>
                        <paper-tab><paper-icon-button icon="editor:format-shapes" drawer-toggle></paper-icon-button></paper-tab>
                    </paper-tabs>
                </app-toolbar>
                
                <div class="mainpanel">
                    <iron-pages selected="{{selectedTab}}">
                        <div>
                            <sarge-map-setup on-map-change="mapChanged" on-scale-or-paper-size-change="scaleOrPaperSizeChanged" on-setting-change="settingChanged" map-title="{{mapTitle}}" radiusR25="{{radiusR25}}" radiusR50="{{radiusR50}}"></sarge-map-setup>

                            <div class="text-center" style="padding-top: 15px">
                                <paper-button id="cPrintButton" raised active on-click="createPDF">
                                    <paper-icon-button icon="print"></paper-icon-button>Lag PDF
                                </paper-button>
                            </div>

                            <div class="text-center" style="padding-top: 15px">
                                <paper-progress indeterminate hidden style="width: 100%"></paper-progress>
                            </div>
                            <div id="cError">{{error}}</div>
                        </div>
                        <div>Sporlogger</div>
                        <div>Points of interest</div>
                        <div>Søketeiger
                            <paper-icon-button icon="maps:add-location" on-click="addPoiToMap">POI</paper-icon-button>
                            <paper-icon-button icon="editor:format-shapes" on-click="addPolygonToMap">Teig</paper-icon-button>
                            <paper-icon-button icon="editor:show-chart" on-click="addLineToMap">Linje</paper-icon-button>
                        </div>
                    </iron-pages>
                    
                </div>
            </app-drawer>

            <app-header-layout>
                <app-header reveals effects="waterfall" id="cAppHeader">
                    <app-toolbar>
                        <paper-menu-button>
                            <paper-icon-button icon="menu" class="dropdown-trigger" alt="menu"></paper-icon-button>

                            <paper-menu class="dropdown-content">
                                <paper-icon-button icon="print" drawer-toggle on-click="showMenu" menu="0"></paper-icon-button><br />
                                <paper-icon-button icon="gesture" drawer-toggle on-click="showMenu" menu="1"></paper-icon-button><br />
                                <paper-icon-button icon="flag" drawer-toggle on-click="showMenu" menu="2"></paper-icon-button><br />
                                <paper-icon-button icon="editor:format-shapes" drawer-toggle on-click="showMenu" menu="3"></paper-icon-button><br />
                            </paper-menu>

                            Oppsett
                        </paper-menu-button>
                        
                        <div main-title>SARGE2</div>
                        <paper-toggle-button on-change="setIpp" id="ippLock">Lås IPP</paper-toggle-button>
                    </app-toolbar>
                </app-header>
                <div style="height: 100%;">
                    <sarge-map on-map-move="mapMoved" radiusR25="{{radiusR25}}" radiusR50="{{radiusR50}}" />
                </div>
            </app-header-layout>
        </app-drawer-layout>

    </template>
    <script>
        (function () {
            Polymer({
                is: 'sarge-app',
                properties: {
                    mapTitle: {
                        type: String,
                        notify: true
                    },
                    radiusR25: {
                        type: Number,
                        notify: true
                    },
                    radiusR50: {
                        type: Number,
                        notify: true
                    },
                    selectedTab: {
                        type: Number,
                        value: 0
                    },
                    error: String
                },
                addPoiToMap: function()
                {
                },
                addPolygonToMap: function() {

                },
                addLineToMap: function() {

                },
                showMenu: function(event)
                {
                    this.selectedTab = Number(event.srcElement.parentElement.attributes["menu"].value);
                },
                attached: function()
                {
                    this.loadState();
                    var vItems = this.$$("show-menu");
                    
                },
                detached: function()
                {
                    this.saveState();
                },
                ready: function()
                {
                    
                },
                
                positionChanged: function(e, i)
                {

                },
                mapChanged: function(e, i)
                {
                    this.querySelector("sarge-map").setMap(i.map);
                },
                scaleOrPaperSizeChanged: function(e, i)
                {
                    this.querySelector("sarge-map").setScaleAndPaperSize(i.scale, i.paperSize);
                    this.saveState();
                },
                settingChanged: function () {
                    var vMap = this.querySelector("sarge-map");
                    var vSettings = this.querySelector("sarge-map-setup");

                    if (vSettings) {
                        vMap.radiusR25 = vSettings.radiusR25 || 0;
                        vMap.radiusR50 = vSettings.radiusR50 || 0;
                    }

                    this.saveState();
                },
                loadState: function () {
                    var vSettings = this.querySelector("sarge-map-setup");
                    
                    var vMap = this.querySelector("sarge-map");

                    var vCookie = this.getCookie('settings');
                    
                    if (vCookie)
                    {
                        var v = JSON.parse(vCookie);
                        vSettings.showUtmGrid = v.showUtmGrid;
                        vSettings.showLatLonGrid = v.showLatLonGrid;
                        vSettings.radiusR25 = v.radiusR25 | 0;
                        vSettings.radiusR50 = v.radiusR50 | 0;
                        vSettings.showCrossHair = v.showCrossHair;
                        vSettings.mapTitle = v.mapTitle;
                        if (this.isValidLocation(v.mapLocation))
                            vMap.setLocation(v.mapLocation);
                        if (v.mapZoom) vMap.setZoom(v.mapZoom);
                    }
                    else
                    {
                        vSettings.showUtmGrid = true;
                        vSettings.showLatLonGrid = false;
                        vSettings.radiusR25 = 200;
                        vSettings.radiusR50 = 1000;
                        vSettings.showCrossHair = true;
                    }
                    this.stateLoaded = true;
                    this.mapMoved(vMap.getZoom(), vMap.getLocation());
                },
                isValidLocation: function(pLocation)
                {
                    return (pLocation.easting > -2500000) && (pLocation.easting < 3500000) &&
                        (pLocation.northing > 3045984.0) && (pLocation.northing > -9045984);
                },
                saveState: function () {
                    var vSettings = this.querySelector("sarge-map-setup");
                    var vMap = this.querySelector("sarge-map");
                    if (vSettings && vMap) {
                        var vCookieObject = {
                            showUtmGrid: vSettings.showUtmGrid,
                            showLatLonGrid: vSettings.showLatLonGrid,
                            radiusR25: vSettings.radiusR25,
                            radiusR50: vSettings.radiusR50,
                            showCrossHair: vSettings.showCrossHair,
                            mapTitle: vSettings.mapTitle,
                            mapLocation: vMap.getLocation(),
                            mapZoom: vMap.getZoom()
                        };
                        this.setCookie("settings", JSON.stringify(vCookieObject), 365);
                    }
                },
                mapMoved: function(zoom, location)
                {
                    if (this.stateLoaded)
                        this.saveState();
                },
                getCookie: function (name) {
                    var value = "; " + document.cookie;
                    var parts = value.split("; " + name + "=");
                    if (parts.length == 2) return  decodeURIComponent(parts.pop().split(";").shift());
                },
                setCookie: function(name, value, days, path) {
                    days |= 7;
                    path |= '/';
                    var expires = new Date(Date.now() + days * 864e5).toGMTString()
                    document.cookie = name + '=' + encodeURIComponent(value) + '; expires=' + expires + '; path=' + path;
                },
                setIpp: function()
                {
                    var vMap = this.querySelector("sarge-map");
                    var ippLock = this.querySelector("#ippLock");
                    if (ippLock.checked)
                        vMap.setIpp();
                    else
                        vMap.resetIpp();
                },
                getMapSettings: function()
                {
                    var vSettings = this.querySelector("sarge-map-setup");
                    var vMap = this.querySelector("sarge-map");
                    var vLocation = vMap.getIpp();

                    return {
                        "mapName": vSettings.map.name,
                        "margins": {
                            "left": "10",
                            "right": "10",
                            "top": "10",
                            "bottom": "10"
                        },
                        title: vSettings.mapTitle,
                        "location": {
                            "easting": vLocation[0],
                            "northing": vLocation[1]
                        },
                        "paperSize": vSettings.paperSize,
                        "scaleAndTileSize": vSettings.scale,
                        "showUtmGrid": vSettings.showUtmGrid,
                        "showLatLonGrid": vSettings.showLatLonGrid,
                        "showCrossHair": vSettings.showCrossHair,
                        "radiusR25": vSettings.radiusR25,
                        "radiusR50": vSettings.radiusR50
                    };
                },
                createPDF: function()
                {
                    this.querySelector("#cPrintButton").disabled = true;
                    this.querySelector("paper-progress").hidden = false;
                    var vComponent = this;
                    vComponent.error = "";

                    $.ajax({
                        url: "api/MapAsPdf",
                        type: "POST",
                        data: JSON.stringify(this.getMapSettings()),
                        contentType: "application/json",
                        dataType: "json",
                        success: function(pData)
                        {
                            $("body").append("<iframe src='/api/MapAsPdf/" + pData + "' style='display: none;' ></iframe>");
                            vComponent.querySelector("#cPrintButton").disabled = false;
                            vComponent.querySelector("paper-progress").hidden = true;
                        },
                        error: function()
                        {
                            vComponent.error = "Unable to create map";
                            vComponent.querySelector("#cPrintButton").disabled = false;
                            vComponent.querySelector("paper-progress").hidden = true;
                        }
                    });
                }
            });
        })();
    </script>
</dom-module>
