<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/app-layout/app-scroll-effects/effects/waterfall.html" />
<link rel="import" href="../../lib/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../lib/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../lib/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../lib/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../lib/app-layout/app-header/app-header.html">
<link rel="import" href="../../lib/app-layout/app-toolbar/app-toolbar.html">

<link rel="import" href="../../lib/paper-button/paper-button.html">
<link rel="import" href="../../lib/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../lib/iron-icon/iron-icon.html" />
<link rel="import" href="../../lib/iron-icons/iron-icons.html" />
<link rel="import" href="../../lib/paper-styles/paper-styles.html" />
<link rel="import" href="../../lib/paper-icon-button/paper-icon-button.html">


<link rel="import" href="sarge-map-setup.html">
<link rel="import" href="sarge-map.html">


<dom-module id="sarge-app">
    <style is="custom-style">
      body {
        /* No margin on body so toolbar can span the screen */
        margin: 0;
      }
      app-toolbar {
        /* Toolbar is the main header, so give it some color */
        background-color: #1E88E5;
        font-family: 'Roboto', Helvetica, sans-serif;
        color: white;
        --app-toolbar-font-size: 24px;
      }
      paper-button {width: 90%}
    </style>
    <template>
        <app-drawer-layout>

            <app-drawer>
                <app-toolbar>
                    <paper-icon-button icon="print" drawer-toggle></paper-icon-button>
                    Oppsett
                </app-toolbar>
                <sarge-map-setup on-map-change="mapChanged" on-scale-or-paper-size-change="scaleOrPaperSizeChanged" on-setting-change="settingChanged" map-title="{{mapTitle}}"></sarge-map-setup>
                <paper-button raised on-click="createPDF">Lag PDF</paper-button>
            </app-drawer>

            <app-header-layout>

                <app-header reveals effects="waterfall">
                    <app-toolbar>
                        <paper-icon-button icon="print" drawer-toggle></paper-icon-button>
                        <div main-title>SARGE2</div>
                    </app-toolbar>
                </app-header>

                <div style="height: 100%;">

                    <sarge-map on-map-move="mapMoved" />

                </div>
                

            </app-header-layout>

        </app-drawer-layout>

    </template>
    <script>
        (function () {
            Polymer({
                is: 'sarge-app',
                properties: {
                    mapTitle: {
                        type: String,
                        notify: true
                    }
                },
                attached: function()
                {
                    this.loadState();
                },
                detached: function()
                {
                    this.saveState();
                },
                ready: function()
                {
                    
                },
                positionChanged: function(e, i)
                {

                },
                mapChanged: function(e, i)
                {
                    this.querySelector("sarge-map").setMap(i.map);
                },
                scaleOrPaperSizeChanged: function(e, i)
                {
                    this.querySelector("sarge-map").setScaleAndPaperSize(i.scale, i.paperSize);
                    this.saveState();
                },
                settingChanged: function() {
                    this.saveState();
                },
                loadState: function () {
                    var vSettings = this.querySelector("sarge-map-setup");
                    var vMap = this.querySelector("sarge-map");

                    var vCookie = this.getCookie('settings');
                    
                    if (vCookie)
                    {
                        var v = JSON.parse(vCookie);
                        vSettings.showUtmGrid = v.showUtmGrid;
                        vSettings.showLatLonGrid = v.showLatLonGrid;
                        vSettings.radius = v.radius | "";
                        vSettings.showCrossHair = v.showCrossHair;
                        vMap.setLocation(v.mapLocation);
                        if (v.mapZoom) vMap.setZoom(v.mapZoom);
                    }
                    else
                    {
                        vSettings.showUtmGrid = true;
                        vSettings.showLatLonGrid = false;
                        vSettings.radius = 333;
                        vSettings.showCrossHair = true;
                    }
                    this.stateLoaded = true;
                },
                saveState: function () {
                    var vSettings = this.querySelector("sarge-map-setup");
                    var vMap = this.querySelector("sarge-map");

                    var vCookieObject = {
                        showUtmGrid: vSettings.showUtmGrid,
                        showLatLonGrid: vSettings.showLatLonGrid,
                        radius: vSettings.radius,
                        showCrossHair: vSettings.showCrossHair,
                        mapTitle: vSettings.mapTitle,
                        mapLocation: vMap.getLocation(),
                        mapZoom: vMap.getZoom()
                    };
                    this.setCookie("settings", JSON.stringify(vCookieObject), 365);
                },
                mapMoved: function(zoom, location)
                {
                    if (this.stateLoaded)
                        this.saveState();
                    var vMap = this.querySelector("sarge-map");
                    var vSettings = this.querySelector("sarge-map-setup");
                    if (vSettings.paperSize && vSettings.scale)
                    {
                        $.ajax({
                            url: "api/GetPaperCoordinates",
                            type: "POST",
                            data: JSON.stringify(this.getMapSettings()),
                            contentType: "application/json",
                            dataType: "json",
                            success: function (pData) {
                                vMap.drawPaper(pData.paper);
                            }
                        })
                    }
                },
                getCookie: function (name) {
                    var value = "; " + document.cookie;
                    var parts = value.split("; " + name + "=");
                    if (parts.length == 2) return  decodeURIComponent(parts.pop().split(";").shift());
                },
                setCookie: function(name, value, days, path) {
                    days |= 7;
                    path |= '/';
                    var expires = new Date(Date.now() + days * 864e5).toGMTString()
                    document.cookie = name + '=' + encodeURIComponent(value) + '; expires=' + expires + '; path=' + path;
                },
                getMapSettings: function()
                {
                    var vSettings = this.querySelector("sarge-map-setup");
                    var vMap = this.querySelector("sarge-map");

                    return {
                        "map": {
                            "name": vSettings.map.name,
                            "layer": vSettings.map.name
                        },
                        "margins": {
                            "left": "10",
                            "right": "10",
                            "top": "10",
                            "bottom": "10"
                        },
                        title: vSettings.mapTitle,
                        "location": vMap.getLocation(),
                        "paperSize": vSettings.paperSize,
                        "scaleAndTileSize": vSettings.scale,
                        "showUtmGrid": vSettings.showUtmGrid,
                        "showLatLonGrid": vSettings.showLatLonGrid,
                        "showCrossHair": vSettings.showCrossHair,
                        "radius": vSettings.radius
                    };
                },
                createPDF: function()
                {
             
                    $.ajax({
                        url: "api/MapAsPdf",
                        type: "POST",
                        data: JSON.stringify(this.getMapSettings()),
                        contentType: "application/json",
                        dataType: "json",
                        success: function(pData)
                        {
                            $("body").append("<iframe src='/api/MapAsPdf/" + pData + "' style='display: none;' ></iframe>");
                        }
                    });
                }
            });
        })();
    </script>
</dom-module>
