<link rel="import" href="../../lib/polymer/polymer.html">
<dom-module id="sarge-map">
    <style>
    </style>
    <template>
        <div id="cMap" style="width: 100%; height:100%; position:fixed"></div>
    </template>

    <script src="../../script/proj4.js"></script>
    <script src="../../script/ol.js"></script>

    <script>
        (function () {
            Polymer({
                is: 'sarge-map',
                properties: {
                    map: Object,
                    mapLocation: {
                        type: Object,
                        observer: '_mapLocationChanged'
                    }
                },
                attached: function () {
                    var sProjection = 'EPSG:32633';
                    var extent = {
                        'EPSG:32633': [-2500000, 3500000, 3045984, 9045984]
                    };

                    var projection = new ol.proj.Projection({
                        code: sProjection,
                        extent: extent[sProjection]
                    });

                    ol.proj.addProjection(projection);

                    var view = new ol.View({
                        projection: projection,
                        //center: this.mapLocation ? [this.mapLocation.easting, this.mapLocation.northing] : [302474, 6945724],
                        //zoom: 12
                    });
                    var vLayerGroup = new ol.layer.Group({
                        layers: [
                            this.createMapTile({ name: 'topo2' })
                        ]
                    })
                    this.map = new ol.Map({
                        target: 'cMap',
                        view: view
                    });
                    
                    var vComponent = this;
                    this.map.on('moveend', function () {
                        var vView = vComponent.map.getView();
                        var vCenter = vView.getCenter();
                        vComponent.fire('map-move', { zoom: vView.getZoom(), location: { easting: vCenter[0], northing: vCenter[1] } });
                    });

                    this.map.setLayerGroup(vLayerGroup);                   
                },
                getLocation: function() {
                    var vCenter = this.map.getView().getCenter();
                    return { easting: vCenter[0], northing: vCenter[1] };
                },
                setLocation: function(pLocation) {
                    this.map.getView().setCenter([pLocation.easting, pLocation.northing]);
                },
                getZoom: function()
                {
                    return this.map.getView().getZoom();
                },
                setZoom: function (pZoom) {
                    return this.map.getView().setZoom(pZoom);
                },
                ready: function ()
                {
                    
                },
                setMap: function(pMap)
                {
                    this.map.setLayerGroup(new ol.layer.Group({
                        layers: [
                            this.createMapTile(pMap)
                        ]
                    }));
                    if (this.map.layers)
                        this.map.layers[0].refresh({ force: true });
                },
                setScaleAndPaperSize: function(scale, paperSize)
                {

                },
                createMapTile: function (pMap) {
                    return new ol.layer.Tile({
                        title: pMap.name,
                        source: new ol.source.TileWMS({
                            url: 'http://opencache.statkart.no/gatekeeper/gk/gk.open?',
                            params: {
                                'LAYERS': pMap.name,
                                'VERSION': '1.1.1',
                                'FORMAT': 'image/png',
                                'TILED': true
                            },
                            //tileGrid: tileGrid
                        })
                    });
                },

                createMap: function () {
                    var vObject = {
                        "map": {
                            "name": "topo2",
                            "layer": "topo2"
                        },
                        "margins": {
                            "left": "10",
                            "right": "10",
                            "top": "10",
                            "bottom": "10"
                        },
                        "paperSize": {
                            "name": "A3 Portrait",
                            "paperKind": "0",
                            "width": "0.297301769",
                            "height": "0.4204482"
                        },
                        "scaleAndTileSize": {
                            "scale": "50000",
                            "tileSizeInMeters": "5416",
                            "name": "1:50000 (Hi)"
                        },
                        "showUtmGrid": "true",
                        "showLatLonGrid": "false",
                        "showCrossHair": "true",
                        "radius": "200"
                    };
                    $.ajax({
                        url: "api/MapAsPdf/Roar",
                        type: "POST",
                        data: JSON.stringify(vObject),
                        contentType: "application/json",
                        dataType: "json"
                    });
                },
                drawPaper: function(pBounds)
                {
                    if (!pBounds)
                        return;

                    var polyCoords = [
                            [pBounds.northWest.easting, pBounds.northWest.northing],
                            [pBounds.southEast.easting, pBounds.northWest.northing],
                            [pBounds.southEast.easting, pBounds.southEast.northing],
                            [pBounds.northWest.easting, pBounds.southEast.northing],
                    ];

                    if (!this.paper)
                    {
                        var feature = new ol.Feature({
                            geometry: new ol.geom.Polygon([polyCoords])
                        });

                        var layer = new ol.layer.Vector({
                            source: new ol.source.Vector({
                                features: [feature]
                            })
                        });

                        this.map.addLayer(layer);
                        this.paper = feature;
                    }
                    else
                    {
                        this.paper.setGeometry(new ol.geom.Polygon([polyCoords]));
                    }
                }
            });
        })();
    </script>
</dom-module>
