
<link rel="import" href="../../lib/polymer/polymer.html">
<link rel="import" href="../../lib/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../lib/paper-listbox/paper-listbox.html">
<link rel="import" href="../../lib/paper-item/paper-item.html">
<link rel="import" href="../../lib/iron-ajax/iron-ajax.html" />
<link rel="import" href="../../lib/paper-input/paper-input.html">
<link rel="import" href="../../lib/paper-button/paper-button.html">
<link rel="import" href="../../lib/paper-checkbox/paper-checkbox.html">

<dom-module id="sarge-map-setup">
    <style>
        
        paper-dropdown-menu, paper-listbox, paper-input { width: 100%  }
        paper-item {width: 250px}
    </style>
    <template>
        <paper-input label="Tittel" value="{{mapTitle}}" on-change="settingChanged"></paper-input>
       <paper-dropdown-menu label="Velg kart">
            <paper-listbox class="dropdown-content" selected="0" on-iron-select="mapSelected">
                <template is="dom-repeat" items="[[maps]]">
                    <paper-item name$="[[item.name]]" style="width: 250px">[[item.name]]</paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>
        <iron-ajax auto url="/api/MapSource" handle-as="json" last-response="{{maps}}" verbose="true"></iron-ajax>
        <paper-dropdown-menu label="Velg målestokk" >
            <paper-listbox class="dropdown-content" selected="15" on-iron-select="scaleSelected">
                <template is="dom-repeat" items="[[scales]]">
                    <paper-item name$="[[item.name]]">[[item.name]]</paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>
        <iron-ajax handle-as="json" last-response="{{scales}}" verbose="true" id="cScalesAjax"></iron-ajax>
        <paper-dropdown-menu label="Velg papir">
            <paper-listbox class="dropdown-content" selected="8" on-iron-select="paperSizeSelected">
                <template is="dom-repeat" items="[[paperSizes]]">
                    <paper-item>[[item.name]]</paper-item>
                </template>
            </paper-listbox>
        </paper-dropdown-menu>
        <iron-ajax auto url="/api/PaperSize" handle-as="json" last-response="{{paperSizes}}" verbose="true"></iron-ajax>
        <div class="row">
            <div class="col-xs-6">
                <paper-input label="Radius R50" value="{{radiusR50}}" on-change="settingChanged" type="number"></paper-input>
            </div>
            <div class="col-xs-6">
                <paper-input label="Radius R25" value="{{radiusR25}}" on-change="settingChanged" type="number"></paper-input>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <paper-checkbox checked="{{showCrossHair}}" on-change="settingChanged">Sikte</paper-checkbox>
            </div>
            <div class="col-xs-4">
                <paper-checkbox checked="{{showUtmGrid}}" on-change="settingChanged">UTM</paper-checkbox>
            </div>
            <div class="col-xs-4">
                <paper-checkbox checked="{{showLatLonGrid}}" on-change="settingChanged">lat/long</paper-checkbox>
            </div>
        </div>
    </template>
    <script>
        (function () {
            Polymer({
                is: 'sarge-map-setup',
                properties: {
                    map: {
                        type: Object,
                        notify: true
                    },
                    scale: {
                        type: Object,
                        notify: true
                    },
                    paperSize: {
                        type: Object,
                        notify: true
                    },
                    mapTitle: {
                        type: String,
                        notify: true
                    },
                    radiusR25: {
                        type: Number,
                        notify: true,
                        value: 0,
                        observer: '_radiusR25_changed'
                    },
                    radiusR50: {
                        type: Number,
                        notify: true,
                        value: 0,
                        observer: '_radiusR50_changed'
                    },
                    showUtmGrid: {
                        type: Boolean,
                        notify: true
                    },
                    showLatLonGrid: {
                        type: Boolean,
                        notify: true
                    },
                    showCrossHair: {
                        type: Boolean,
                        notify: true
                    }
                },
                _radiusR25_changed: function (p) {
                    this.radiusR25 = Number(p);
                    this.settingChanged();
                },
                _radiusR50_changed: function (p) {
                    this.radiusR50 = Number(p);
                    this.settingChanged();
                },
                attached: function ()
                {
                    
                },
                detached: function()
                {
                    alert('detach');
                },
                createPDF: function() {
                    alert(this.mapTitle);
                },
                paperSizeSelected: function (event, item) {
                    this.paperSize = this.paperSizes[item.item.parentElement.indexOf(item.item)];
                    this.fireScaleOrPaperSizeChanged();
                },
                scaleSelected: function (event, item)
                {
                    this.scale = this.scales[item.item.parentElement.indexOf(item.item)];
                    this.fireScaleOrPaperSizeChanged();
                },
                mapSelected: function (event, item) {
                    this.map = this.maps[item.item.parentElement.indexOf(item.item)];
                    this.fireMapChanged();

                    var vAjax = this.querySelector("#cScalesAjax");
                    vAjax.setAttribute("url", "/api/Scale/" + this.map.name);
                    vAjax.generateRequest();
                },
                settingChanged: function()
                {
                    this.fire('setting-change', { });
                },
                fireMapChanged: function()
                {
                    this.fire('map-change', { map: this.map });
                },
                fireScaleOrPaperSizeChanged: function () {
                    this.fire('scale-or-paper-size-change', {scale: this.scale, paperSize: this.paperSize });
                }
            })
        })();
        
    </script>
</dom-module>