.area-preview {
    display: inline-block;
    border-style: solid; 
    padding: 10px;
    width: 60px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: x-small;
}