<div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
    class="well app-drop-zone">
    Drop GPX file
</div>
<mat-form-field>
    <input matInput placeholder="max distance" type="number" [(ngModel)]="maxDistance">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="min track points" type="number" [(ngModel)]="minTrackPoints">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="max time" type="number" [(ngModel)]="maxTime">
</mat-form-field>
<mat-progress-bar mode="indeterminate" *ngIf="uploading"></mat-progress-bar>

<div *ngIf="geoData" class="geo-list">
    Name:
    <input type="text" [(ngModel)]="geoData.name">
    <a (click)="hideAll()">hide</a>
    <a (click)="showAll()">show</a>
    <div *ngIf="geoData.tracks">
        {{geoData.tracks.length}} tracks:
        <div class="track" *ngFor="let track of geoData.tracks">
            <div class="track-name">
                <mat-checkbox checked="true" (change)="showTrack(track, true)">{{track.name}}</mat-checkbox>
            </div>
            <div class="track-details">
                {{track.length | distance}} {{track.duration | timespan}} ({{track.pointCount}})
            </div>
        </div>
    </div>
    <div *ngIf="geoData.pois">
        {{geoData.pois.length}} POIs:
        <div class="poi" *ngFor="let poi of geoData.pois">
            <div class="poi-name">
                <mat-checkbox checked="true" (change)="showPoi(poi, true)">{{poi.name}}</mat-checkbox>
            </div>
        </div>
    </div>
</div>