.app-drop-zone { border: dotted 3px lightgray; width: 150px; height: 100px; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

.item-header {
    font-weight: bold; 
    margin-top: 5px;
}
.item-name {
    font-size: smaller;
}
.item-details {
    color: gray; 
    font-size: xx-small 
}

.geo-list {
    height: 400px;
    overflow-y: scroll;
}
mat-horizontal-stepper {
   margin: -10px;
}
.button-container {
    margin-bottom: 5px;
}