<mat-card>
    <mat-card-title>
        <button mat-raised-button color="accent" class="toolbar-button" (click)="measure()">
            <mat-icon>gesture</mat-icon>
            <span>Track</span>
        </button>
    </mat-card-title>
    <mat-card-content>
        <div class="measurement"><div class="label">Total distance:</div><div class="data">{{distance | distance}}</div></div>
        <div class="measurement"><div class="label">Straight:</div><div class="data">{{straightDistance | distance}}</div></div>
        <div class="measurement"><div class="label">Heading:</div><div class="data">{{direction | direction}}</div></div>
    </mat-card-content>
</mat-card>