<mat-card>
    <mat-card-title>
        <button mat-raised-button color="accent" class="toolbar-button" (click)="measure()">
            <mat-icon>adjust</mat-icon>
            <span>Circle</span>
        </button>
    </mat-card-title>
    <mat-card-content>
        <div class="measurement"><div class="label">Radius</div><div class="data">{{distance | distance}}</div></div>
        <div class="measurement"><div class="label">Area</div><div class="data">{{area | area}}</div></div>
    </mat-card-content>
</mat-card>