<html>
<head>

    <link href="~/css/ol.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Sarge2</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <form class="navbar-form">
                    <div class="btn-group">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span id="cSelectedMap">Kart</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" id="cMaps">
                                <li><a href="#">Loading...</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Papir <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" id="cPaperSizes">
                                <li><a href="#">Loading...</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Målestokk <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" id="cScales">
                                <li><a href="#">Select map first</a></li>

                            </ul>
                        </div>
                    </div>
                    <button onclick="CreateMap()">Create PDF</button>
                </form>
            </div>

        </div>
    </nav>

    <div id="map" class="map" />



    <script src="~/script/proj4.js"></script>
    <script src="~/script/ol.js"></script>
    <script type="text/javascript">

        var Maps = {};
        var PaperSizes = {};
        var Scales = {};

        var sProjection = 'EPSG:32633';
        var extent = {
            'EPSG:32633': [-2500000, 3500000, 3045984, 9045984]
        };

        var projection = new ol.proj.Projection({
            code: sProjection,
            extent: extent[sProjection]
        });

        ol.proj.addProjection(projection);
        var view = new ol.View({
            projection: projection,
            center: [302474, 6945724],
            zoom: 12
        });
        var vTile2 = new ol.layer.Tile({
            title: 'topo2',
            source: new ol.source.TileWMS({
                url: 'http://opencache.statkart.no/gatekeeper/gk/gk.open?',
                params: {
                    'LAYERS': 'topo2',
                    'VERSION': '1.1.1',
                    'FORMAT': 'image/png',
                    'TILED': true
                },
                //tileGrid: tileGrid
            })
        });

        var size = ol.extent.getWidth(projection.getExtent()) / 256;
        var resolutions = new Array(14);
        var matrixIds = new Array(14);
        for (var z = 0; z < 14; ++z) {
            // generate resolutions and matrixIds arrays for this WMTS
            resolutions[z] = size / Math.pow(2, z);
            matrixIds[z] = z;
        }

        var vTile = new ol.layer.Tile({
            title: 'topo2',
            source: new ol.source.WMTS({
                url: 'http://gatekeeper1.geonorge.no/BaatGatekeeper/gk/gk.nib_utm33_wmts_v2?gkt=3A609DF56BE96823E50C7273AC687DFEE8E95C46898458778DF829231A08590ADB1584C7A1E10204A7002ACA2E9D21402F15CFFEDCBD29AA8D018F0853CD0DA1',
                layer: 'Nibcache_UTM33_EUREF89',
                matrixSet: 'default028mm',
                format: 'image/png',
                projection: projection,
                tileGrid: new ol.tilegrid.WMTS({
                    origin: ol.extent.getTopLeft(projection.getExtent()),
                    resolutions: resolutions,
                    matrixIds: matrixIds
                }),
                style: 'default',
                wrapX: true
            })
        });

        var gMap = new ol.Map({
            target: 'map',
            layers: [
                vTile
            ],
            view: view
        });

        function CreateMapTile(pMap)
        {
            return new ol.layer.Tile({
                title: pMap.name,
                source: new ol.source.TileWMS({
                    url: 'http://opencache.statkart.no/gatekeeper/gk/gk.open?',
                    params: {
                        'LAYERS': pMap.name,
                        'VERSION': '1.1.1',
                        'FORMAT': 'image/png',
                        'TILED': true
                    },
                    //tileGrid: tileGrid
                })
            });
        }

        $(function () {
            LoadMaps();
            LoadPaperSizes();
        });

        function LoadMaps()
        {
            $.ajax({
                url: "/api/MapSource/",
                type: "GET",
                success: function (pMaps) {
                    Maps = pMaps;

                    $("#cMaps").html("");
                    $(pMaps).each(function (i, e) {
                        Maps[e.name] = e;

                        var vItem = $("<li><a href='#'>" + e.name + "</a></li>");
                        vItem.data("name", e.name);
                        vItem.on("click", function () {
                            var vMap = Maps[$(this).data("name")];
                            gMap.addLayer(CreateMapTile(vMap));
                            LoadScales(vMap);
                            $("#cSelectedMap").html(vMap.name);
                        });
                        $("#cMaps").append(vItem);
                    });
                }
            });
        }

        function LoadPaperSizes()
        {
            $.ajax({
                url: "/api/PaperSize/",
                type: "GET",
                success: function (pPaperSizes) {
                    PaperSizes = pPaperSizes;

                    $("#cPaperSizes").html("");
                    $(pPaperSizes).each(function (i, e) {
                        PaperSizes[e.name] = e;

                        var vItem = $("<li><a href='#'>" + e.name + "</a></li>");
                        vItem.data("name", e.name);
                        vItem.on("click", function () {
                            //gMap.addLayer(CreateMapTile(Maps[$(this).data("name")]));
                            //alert($(this).data("name"));
                            $("#cSelectedPaperSize").html(vMap.name);
                        });
                        $("#cPaperSizes").append(vItem);
                    });
                }
            });
        }

        function LoadScales(pMap) {
            $.ajax({
                url: "/api/Scale/" + pMap.name,
                type: "GET",
                success: function (pScales) {
                    Scales = pScales;

                    $("#cScales").html("");
                    $(pScales).each(function (i, e) {
                        Scales[e.name] = e;

                        var vItem = $("<li><a href='#'>" + e.name + "</a></li>");
                        vItem.data("name", e.name);
                        vItem.on("click", function () {
                            //gMap.addLayer(CreateMapTile(Maps[$(this).data("name")]));
                            //alert($(this).data("name"));
                            $("#cSelectedScale").html(vMap.name);
                        });
                        $("#cScales").append(vItem);
                    });
                }
            });
        }

        function CreateMap()
        {
            var vObject = {
                "map": {
                    "name": "topo2",
                    "layer": "topo2"
                },
                "margins": {
                    "left": "10",
                    "right": "10",
                    "top": "10",
                    "bottom": "10"
                },
                "paperSize": {
                    "name": "A3 Portrait",
                    "paperKind": "0",
                    "width": "0.297301769",
                    "height": "0.4204482"
                },
                "scaleAndTileSize": {
                    "scale": "50000",
                    "tileSizeInMeters": "5416",
                    "name": "1:50000 (Hi)"
                },
                "showUtmGrid": "true",
                "showLatLonGrid": "false",
                "showCrossHair": "true",
                "radiusR25": "200",
                "radiusR50": "1000"
            };
            $.ajax({
                url: "api/MapAsPdf/Roar",
                type: "POST",
                data: JSON.stringify(vObject),
                contentType: "application/json",
                dataType: "json"
            });
        }
    </script>

</body>
</html>

