@{ 
    Layout = "_Layout";
}
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Sarge2</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <form class="navbar-form">
                <div class="btn-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span id="cSelectedMap">Kart</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" id="cMaps">
                            <li><a href="#">Loading...</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            Papir <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" id="cPaperSizes">
                            <li><a href="#">Loading...</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            Målestokk <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" id="cScales">
                            <li><a href="#">Select map first</a></li>
                       
                        </ul>
                    </div>
                </div>
                <button onclick="CreateMap()">Create PDF</button>
            </form>
        </div>
        
    </div>
</nav>
<div id="map" class="map"/>


@section styles
{
<link href="~/css/ol.css" rel="stylesheet" />   
}
@section scripts
{
    <script src="~/script/proj4.js"></script>
    <script src="~/script/ol.js"></script>
    <script type="text/javascript">

        var Maps = {};
        var PaperSizes = {};
        var Scales = {};

        var sProjection = 'EPSG:32633';
        var extent = {
            'EPSG:32633': [-2500000, 3500000, 3045984, 9045984]
        };

        var projection = new ol.proj.Projection({
            code: sProjection,
            extent: extent[sProjection]
        });

        ol.proj.addProjection(projection);
        var view = new ol.View({
            projection: projection,
            center: [302474, 6945724],
            zoom: 12
        });

        var gMap = new ol.Map({
            target: 'map',
            layers: [
              
            ],
            view: view
        });

        function CreateMapTile(pMap)
        {
            return new ol.layer.Tile({
                title: pMap.name,
                source: new ol.source.TileWMS({
                    url: 'http://opencache.statkart.no/gatekeeper/gk/gk.open?',
                    params: {
                        'LAYERS': pMap.name,
                        'VERSION': '1.1.1',
                        'FORMAT': 'image/png',
                        'TILED': true
                    },
                    //tileGrid: tileGrid
                })
            });
        }

        $(function () {
            LoadMaps();
            LoadPaperSizes();
        });

        function LoadMaps()
        {
            $.ajax({
                url: "/api/MapSource/",
                type: "GET",
                success: function (pMaps) {
                    Maps = pMaps;

                    $("#cMaps").html("");
                    $(pMaps).each(function (i, e) {
                        Maps[e.name] = e;

                        var vItem = $("<li><a href='#'>" + e.name + "</a></li>");
                        vItem.data("name", e.name);
                        vItem.on("click", function () {
                            var vMap = Maps[$(this).data("name")];
                            gMap.addLayer(CreateMapTile(vMap));
                            LoadScales(vMap);
                            $("#cSelectedMap").html(vMap.name);
                        });
                        $("#cMaps").append(vItem);
                    });
                }
            });
        }

        function LoadPaperSizes()
        {
            $.ajax({
                url: "/api/PaperSize/",
                type: "GET",
                success: function (pPaperSizes) {
                    PaperSizes = pPaperSizes;

                    $("#cPaperSizes").html("");
                    $(pPaperSizes).each(function (i, e) {
                        PaperSizes[e.name] = e;

                        var vItem = $("<li><a href='#'>" + e.name + "</a></li>");
                        vItem.data("name", e.name);
                        vItem.on("click", function () {
                            //gMap.addLayer(CreateMapTile(Maps[$(this).data("name")]));
                            //alert($(this).data("name"));
                            $("#cSelectedPaperSize").html(vMap.name);
                        });
                        $("#cPaperSizes").append(vItem);
                    });
                }
            });
        }

        function LoadScales(pMap) {
            $.ajax({
                url: "/api/Scale/" + pMap.name,
                type: "GET",
                success: function (pScales) {
                    Scales = pScales;

                    $("#cScales").html("");
                    $(pScales).each(function (i, e) {
                        Scales[e.name] = e;

                        var vItem = $("<li><a href='#'>" + e.name + "</a></li>");
                        vItem.data("name", e.name);
                        vItem.on("click", function () {
                            //gMap.addLayer(CreateMapTile(Maps[$(this).data("name")]));
                            //alert($(this).data("name"));
                            $("#cSelectedScale").html(vMap.name);
                        });
                        $("#cScales").append(vItem);
                    });
                }
            });
        }

        function CreateMap()
        {
            var vObject = {
                "map": {
                    "name": "topo2",
                    "layer": "topo2"
                },
                "margins": {
                    "left": "10",
                    "right": "10",
                    "top": "10",
                    "bottom": "10"
                },
                "paperSize": {
                    "name": "A3 Portrait",
                    "paperKind": "0",
                    "width": "0.297301769",
                    "height": "0.4204482"
                },
                "scaleAndTileSize": {
                    "scale": "50000",
                    "tileSizeInMeters": "5416",
                    "name": "1:50000 (Hi)"
                },
                "showUtmGrid": "true",
                "showLatLonGrid": "false",
                "showCrossHair": "true",
                "radius": "200"
            };
            $.ajax({
                url: "api/MapAsPdf/Roar",
                type: "POST",
                data: JSON.stringify(vObject),
                contentType: "application/json",
                dataType: "json"
            });
        }
    </script>
}